*.class

# Package Files #
*.war
*.ear
.metadata
*.*~
*.core.prefs
xmpgate/database.db
xmpleaf/database.db
xmpleaf/database-35.db
xmpback/database.db
xmpback/screens/
*.db-journal
Thumbs.db
log.log*
*/build/
*/files/database*
